.main {
  height: 100vh;
  width: 100vw;

  .container2 {
    width: 45%;
    text-align: center;

    .top {
      h1 {
        font-size: 35px;
        color: #130f40;
      }

      p {
        font-size: 15px;
      }
    }

    .bottom {

      .btn{
        border-radius: 25px;
      }

      .scards {
        display: flex;
        justify-content: space-evenly;
        margin: auto ;

        .scard {
          width: 40%;
          margin-top: 10px;
          box-shadow: 0 0 7px 4px rgb(0 0 0 / 10%);
          height: 300px;

          .content {
            background-color: rgb(200, 231, 241);
            width: 80%;
            height: 35%;
            margin: 10px auto;

            h1 {
              font-size: 25px;

              sub {
                font-size: 10px;
              }
            }
            h2 {
              font-size: 18px;
            }
            span {
              font-size: 14px;
            }
          }
          p {
            font-size: 15px;
            opacity: 0.5;
          }
          .try {
            width: 60%;
            height: 30px;
            border-radius: 10px;
            background-color: orange;
            color: white;
            margin: 10px auto;
          }
        }
      }
    }
  }
}
